{% extends 'base.html.twig' %} {% block body %}

<body class='fondoGris'>
    <div class="container">
        <div class="row justify-content-center align-items-center mt-5">
            <div class='col-3 fondoBlanco bordesRedondos mt-4 bordeAzul'>
                <div class='row justify-content-center'>
                    <div class='col-4'>
                        <img src='img/logo.png' class='img-fluid' width='100px'>
                    </div>
                </div>

                <form action="{{ path('app_procesa_cambio_pass') }}" method="post" class="mt-5 contenedor text-center">
                    <label for="password">Nueva Contraseña:</label><br><br>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg"
                                    width="23" height="24" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                                    <path
                                        d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z" />
                                    <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                </svg></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Nueva contraseña" aria-label="Username" aria-describedby="basic-addon1" id="password" name="password">
                    </div>
                    <label for="password">Repetir Contraseña:</label><br><br>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><svg xmlns="http://www.w3.org/2000/svg"
                                    width="23" height="24" fill="currentColor" class="bi bi-key" viewBox="0 0 16 16">
                                    <path
                                        d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z" />
                                    <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                                </svg></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Repetir contraseña" aria-label="Username" aria-describedby="basic-addon1" id="password" name="password2">
                    </div>
                    <br><br>
                    <button type="submit" class='btn btn-primary mb-3'>Cambiar Contraseña</button>
                     {% if error %}
                    <div class="error mb-2">{{error}}</div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</body>
<script>
$('.nav-Password').addClass('active');
</script>
{% endblock %}